*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: #0b0b0b;
  color: #fff;
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 28px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  color: #d6b36a;
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-btn {
  border: 1px solid #fff;
  padding: 10px 18px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

  
.hero {
  height: 100vh;
  background: url("hero.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.85)
  );
}

.content {
  position: relative;
  text-align: center;
  max-width: 750px;
  padding: 20px;
}

.tagline {
  font-size: 12px;
  letter-spacing: 3px;
  color: #d6b36a;
}

.content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  margin: 20px 0;
}

.content h1 span {
  color: #d6b36a;
}

.content p {
  font-size: 16px;
  opacity: 0.85;
  margin-bottom: 40px;
}


.actions {
  display: flex;
  gap: 22px;
  justify-content: center;
}

.btn {
  padding: 14px 32px;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn.primary {
  background: #d6b36a;
  color: #000;
}

.btn.outline {
  border: 1px solid #fff;
  color: #fff;
}


@media (max-width: 768px) {
  nav {
    display: none;
  }}



  .navbar.scrolled {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);
  padding: 18px 60px;
}

.content {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s ease;
}

.content.show {
  opacity: 1;
  transform: translateY(0);
}

.btn.clicked {
  transform: scale(0.95);
}